/* BASE */

a {
    text-decoration: none;
    display: block;
}

button,
select,
a {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    color: inherit;
}

html[theme="light"] .v-application--wrap {
    background-color: #eee !important;
}

.v-application p {
    margin-bottom: 10px;
}

ul,
ol,
li {
    list-style: none;
}

img {
    display: block;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.flexNone {
    flex: none;
}

html[theme="light"] {
    .back-failure {
        background: #d5303f;
        background: -webkit-linear-gradient(to right top, transparent, #d5303f);
        background: linear-gradient(to right top, transparent, #d5303f);
    }
    .back-success {
        background: #3fd530;
        background: -webkit-linear-gradient(to right top, transparent, #3fd530);
        background: linear-gradient(to right top, transparent, #3fd530);
    }
}

.back-failure {
    background: transparent;
    background: -webkit-linear-gradient(to right top, transparent, #6f0000);
    background: linear-gradient(to right top, transparent, #6f0000);
}

.back-success {
    background: #0f9b0f;
    background: -webkit-linear-gradient(to right top, transparent, #0f9b0f);
    background: linear-gradient(to right top, transparent, #0f9b0f);
}

.uc_text {
    position: relative;
    top: 100px;
    text-align: center;
}