/* BASE */

a {
    text-decoration: none;
    display: block;
}

button,
select,
a {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    color: inherit;
}

html[theme="light"] .v-application--wrap {
    background-color: #eee !important;
}

.v-application p {
    margin-bottom: 10px;
}

ul,
ol,
li {
    list-style: none;
}

img {
    display: block;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.flexNone {
    flex: none;
}

.uc_text {
    position: relative;
    top: 100px;
    text-align: center;
}