/* BASE */

$body-font-family: "Montserrat",
serif;
a {
    text-decoration: none;
    display: block;
}

button,
select,
a {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    color: inherit;
}

html[theme="light"] .v-application--wrap {
    background: #eceff1 !important;
}

html .v-application--wrap {
    background: radial-gradient( 112.42% 98.89% at 50% 0%, rgba(111, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient( 100% 101.89% at 0% 15.9%, rgba(0, 122, 255, 0.2) 0%, rgba(0, 122, 255, 0) 100%), #111111;
}

.v-navigation-drawer {
    background-color: inherit !important;
}

.v-app-bar {
    background-color: inherit !important;
}

.v-text-field--outlined .v-input__slot {
    border-radius: 20px !important;
}

.v-application p {
    margin-bottom: 10px;
}

.v-menu__content .v-list {
    background: #000e1d !important;
    border-radius: 20px !important;
}

html[theme="light"] .v-menu__content .v-list {
    background: #ffffff !important;
}

.v-card {
    background: #000c19 !important;
    border-radius: 20px !important;
}

html[theme="light"] .v-card {
    background: #ffffff !important;
}

ul,
ol,
li {
    list-style: none;
}

img {
    display: block;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.flexNone {
    flex: none;
}

.uc_text {
    position: relative;
    top: 100px;
    text-align: center;
}

#dir-rtl[dir="rtl"] {
    .items-nav-bar a {
        margin-right: 20px !important;
        margin-left: 0px !important;
        padding-left: 5px !important;
    }
    td.text-right {
        text-align: left !important;
    }
    td.text-left {
        text-align: right !important;
    }
    th.text-left {
        text-align: right !important;
    }
    .layout_default__content {
        padding-right: 30px !important;
        padding-left: 10px !important;
    }
    .currencyNavbar {
        padding-right: 20px !important;
        padding-left: 30px !important;
    }
    .v-list-item__content {
        padding-right: 10px !important;
    }
    .curr_name {
        margin-right: 10px !important;
    }
    .v-input__icon--append {
        display: none;
    }
    .mainCard .v-btn {
        margin-right: 15px !important;
    }
    .settingsTab .text-h6 {
        margin-right: 15px !important;
    }
    .historyChip {
        position: relative;
        margin-left: 10px !important;
    }
    .gc-card .v-btn {
        margin-right: 30px !important;
    }
    .v-data-footer .v-input {
        margin-right: 15px !important;
    }
}

.v-btn:before {
    opacity: 0 !important;
    background-color: transparent !important;
}

.v-ripple__container {
    opacity: 0 !important;
}

.mdc-ripple-surface:hover:before {
    opacity: 0 !important;
}

.theme--light.v-btn-toggle:not(.v-btn-toggle--group),
.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) {
    background: none;
}

.theme--light.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn,
.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn {
    border-color: transparent !important;
}

.theme--dark.v-navigation-drawer .v-divider,
.theme--light.v-navigation-drawer .v-divider {
    border-color: gray;
}